{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>About me</h1>
    <br/>
    <p class="fs-3">Hi, I'm Zak, the developer of WeatherFlow. You can find it in open source on GitHub.
        I'm a software engineering student who loves data science and machine learning, but I'm also interested
        in web development, specifically the backend. Every time there is a challenge to solve or a problem to overcome,
        I take it as a chance to learn new cool things and expand my skills.</p>
</body>
</html>


{% endblock %}
